@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the GC Web Store!</h1>
<br /><br />
<h3>Current Stock</h3>
<br />
<div>
    @{
        foreach (var item in ViewBag.Items)
        {

            <div class="panel-group col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @item.Name
                    </div>
                    <div class="panel-body">
                        @item.Description
                    </div>
                    <div class="panel-footer">
                        Price: $@item.Price | @item.Stock Units
                    </div>
                </div>
            </div>

        }
    }
</div>